:root {
    --primary: #5C3FD6;
    --primary-light: #7B61FF;
    --text: #1A1A1A;
    --gray: #666;
    --bg: #ffffff;
    --radius: 10px;
    font-family: "Inter", sans-serif;
    --border: #9CA3AF;
}

body {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
    position: relative;
}

.header-logo {
    position: absolute;
    top: 24px;
    left: 32px;
}

.logo {
    width: 100px;
    height: auto;
}

.forgot-container {
    text-align: center;
    width: 100%;
    max-width: 420px;
    padding: 0 20px;

}

.icon {
    width: 49px;
    height: 49px;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary);
    margin: 8px 0;
}

p {
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
}

.input-group label {
    display: block;
    text-align: left;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 8px;
    font-size: 14px;
}

.input-group input {
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 14px 16px;
    font-size: 15px;
    outline: none;
    transition: border 0.2s;
}

.input-group input:focus {
    border-color: var(--primary);
}

.btn-primary {
    width: 100%;
    background: var(--primary);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 16px 0;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-primary:hover {
    background: var(--primary-light);
}

.back-link {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .header-logo {
        top: 16px;
        left: 20px;
    }

    .logo {
        width: 80px;
    }

    .forgot-card {
        padding: 16px;
    }
}